@charset "utf-8";
/* CSS Document */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

body {
	margin: 0;
	font-family: 'Fira Sans', sans-serif;
}
h1, h2, h3, nav a {
font-family: 'Indie Flower', cursive;
font-weight: bolder;
font-size:40px;
}

header {
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
	height: 70px;
}

header h1 {
	margin: 0;
	line-height: 70px;	
	margin-left: 1.2rem;
}

.hamburger {
	display: none;
}

nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav a {
	display: block;
	line-height: 70px;
	padding: 0 1.2rem;
	color: white;
	font-size: 1.2em;
	text-decoration: none;
}

nav a:hover,
nav a:focus,
nav a:active {
	background-color: rgba(255,255,255,0.2);
	outline: none;
}



footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 1.3rem;
}

footer a {
    color: white;
}

.text p {
    margin: 1% 18%;
}

h1 {
    text-align: center;
}

/*---grid styles start---*/

main {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 540px)) 1fr;
    grid-template-rows: repeat(5,auto);
    grid-template-areas:
    "one one one"
    "two two two"
    "three three three"
    "four four four"
    "five five five" ;
}

.section-01 {
    grid-area: one;
    grid-column: 1 / span 4;
    background-color: rgb(255, 249, 232);
    padding: 0 50px;
    line-height: 1.2;
    font-size: 0.8em;
}

.section-02 {
    grid-area: two;
    grid-column: 1 / span 4;
    border: 25px solid rgb(29, 28, 28);
    font-size: 1em;
    padding-bottom: 20px;
}

/* monopoly grid board start */

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1.5px solid black;
    font-size: calc(2vw + 8px);
}


.game-board {
    display: grid;
    grid-template-columns: auto repeat(5, 10vw) auto;
    grid-template-rows: repeat(5, 10vw);
    grid-gap: 10px;
}

.box-01{
    grid-column: 2;
    grid-row: 1;
}

.box-02{
    grid-column: 3;
    grid-row: 1;
}

.box-03{
    grid-column: 4;
    grid-row: 1;
}
.box-04{
    grid-column: 5;
    grid-row: 1;
}
.box-05{
    grid-column: 6;
    grid-row: 1;
}
.box-06{
    grid-column: 6;
    grid-row: 2;
}
.box-07{
    grid-column: 6;
    grid-row: 3;
}
.box-08{
    grid-column: 6;
    grid-row: 4;
}
.box-09{
    grid-column: 6;
    grid-row: 5;
}
.box-10{
    grid-column: 5;
    grid-row: 5;
}
.box-11{
    grid-column: 4;
    grid-row: 5;
}
.box-12{
    grid-column: 3;
    grid-row: 5;
}
.box-13{
    grid-column: 2;
    grid-row: 5;
}

.box-14{
    grid-column: 2;
    grid-row: 4;
}

.box-15{
    grid-column: 2;
    grid-row: 3;
}
.box-16{
    grid-column: 2;
    grid-row: 2;
}
.box-17{
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
    background-color: rgb(235, 124, 6);
}
.box-18{
    grid-column: 3 / span 3;
    grid-row: 4 / span 1 ;
    background-color: rgb(245, 0, 196)
}
.box-19{
    grid-column: 5 / span 1;
    grid-row: 2 / span 2; 
    background-color: rgb(4, 124, 235)
}

/* gallery styles start */

.gallery{
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 0 auto;
    padding: 0 25px 50px;
    grid-gap: 15px;
}

.gallery-item p {
    color: white;
    position: absolute;
    bottom: 0;
    width: 80%;
    padding: 10px;
    right:0;   
    background-color: rgba(20, 19, 19, 0.541);
}

.gallery-item{
    position: relative;
}

.gallery-item:before {
    content: "";
    display: inline-block;
    height: 0;
    padding-bottom: calc(100% / (3 / 2) );
    width: 2px;
}

.gallery-item img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

/* article styles  */ 

.section-03 {
    grid-area: three;
    grid-column: 1 / span 4;
}

.section-04 {
    grid-area: four;
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.article-01 {
    background-color: rgb(244, 0, 0);
    color: white;
}

.article-02 {
    background-color: rgb(222, 255, 6);
    color:black;
}

.article-01, .article-02 {
    padding: 20px;
}

.section-05 {
    grid-area: five;
    grid-column: 1 / span 4;
}
.tag{

  display: block;
  margin-left: auto;
  margin-right: auto;
  }


/* Main end */

/*media resizing */
@media only screen and (max-width: 580px)
{

    .article-01{
        grid-column: 1 / split 4 ;
        grid-row: 1;
    }

    .article-02{
        grid-column: 1 / split 4 ;
        grid-row: 2;
    }

    .content-03 {
        max-width: 90%;
    }

	/* Mobile Navigation Styles */

    /* Hamburger Styles */
    .hamburger {
        display: block;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .hamburger-icon {
        color: white;
        line-height: 1;
        font-size: 2.4em;
    }

    .hamburger:focus,
    .hamburger-icon:focus {
        outline: none;
    }
    
    .hamburger:focus .hamburger-icon {
        outline: 5px solid #69c1db;
    }

    .hamburger-text {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }

    header {
        flex-wrap: wrap;
		align-items: center;
		height: auto;
    }

    nav {
        height: 0;
        overflow: hidden;
        width: 100%;
        transition: height 0.3s ease;
    }

    nav ul {
        display: block;
    }

    nav a {
        line-height: 40px;
        border-bottom: 1px solid black;
        border-top: 1px solid #afafaf;
    }

    nav li:last-child a {
        border-bottom: 1px solid #afafaf;
    }

    .show nav {
        height: 126px;
    }
}









